.section-headers {
  font-size: 30px;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

#toggle-box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#counter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.counter-buttons {
  height: 25px;
  width: 25px;
  padding: 1px 6px;
  border-radius: 5px;
  border: 1px solid black;
}

#count-display {
  text-align: center;
  width: max-content;
}

#racecar {
  font-size: 80px;
}
